[submodule "sdioretsa"]
	path = sdioretsa
	url = https://github.com/nqshabazz/sdioretsa
[submodule "drawing-web-app"]
	path = drawing-web-app
	url = https://github.com/nqshabazz/drawing-web-app
[submodule "basic-node-chat"]
	path = basic-node-chat
	url = https://github.com/nqshabazz/basic-node-chat
