*{padding: 0; margin: 0;}

body {background: #eee; font-family: tahoma, verdana, sans serif;}
body:not(input){user-select: none;}

header{margin: 10px;}
header input{padding: 0 10px; font-size: 30px;}
header p{display: inline-block; vertical-align: bottom;}

#controls{display: inline-block; padding: 0 10px; width: 230px; vertical-align: top; font-weight: 700;}

#controls p{padding-top: 20px;}

#toolSet{text-align: center; padding: 20px 0 20px 0; border-bottom: 2px solid #ddd;}
#toolSet img{width: 20%; vertical-align: middle;}

input[type=range]{width: 100%;}

.colorInstructions{display: flex; justify-content: space-around; text-align: center;}
.colorInstructions p{flex: 1; margin-top: 20px; padding: 10px 0;}
.colorInstructions p:last-child{background: #000; color: #fff;}
#colorCanvasContainer canvas:last-child{float: right;}

#layerList{height: 150px; background: #aaa; overflow-y: auto;}

.layerElement{padding: 5px; background-color: #bbb; text-align: center;}
.layerElement:hover{background-color: #ccc;}
.layerElement.currentLayerElement{background-color: #0cf;}

.layerElement input[type=text]{width: 75%;}

.removeLayerButton, input[type=checkbox]{cursor: pointer;}

.removeLayerButton:hover{color: red;}

#newLayerButton{text-align: center; padding: 5px 0; background-color: #ccc; cursor: pointer;}
#newLayerButton:hover{background-color: #ddd;}

#canvasContainer{display: inline-block; position: relative; width: 800px; text-align: right; color: #fff;}

#canvasContainer a{padding: 10px; background-color: #aaa; border-radius: 10px; font-weight: 700;}
#canvasContainer a:nth-child(2){background-color: #0cf;}
#canvasContainer a:hover{cursor: pointer; text-decoration: underline;}

#canvasContainer canvas{cursor: crosshair;}

#backgroundCanvas {background: url('assets/alpha-bg.png'); background-size: 200px 133px; cursor: none; box-shadow: 4px 4px 8px rgba(0,0,0,0.5);}

#canvasContainer canvas:not(#backgroundCanvas){position: absolute; top: 0; left: 0;}

.chosen-tool{background: #0cf;}

#templateLayerElement, #templateCanvas{display: none;}