html{background: linear-gradient(30deg, #0cf, #0ca); background-attachment: fixed;}
body{max-width: 1980px; background: none;}
#topbar{width: 90%; margin: auto; padding-top: 10px; text-align: right; max-width: 800px;}
#topbar a{text-decoration: none; font-size: 175%; color: #fff; padding: 5px; text-align: right;}
#topbar nav{text-align: right;}
#link-nav{position: absolute; right: 0; top: 75px; width: auto; padding: 10px; border-radius: 3px; background: rgba(0, 0, 0, 0.75);}
#link-nav div{text-align: center;}
#link-nav a{transition: background 0.25s linear, color 0.25s linear}
#link-nav a:hover{background: #fff; color: #0cf;}

main{padding-top: 50px; width: 100%; max-width: 800px; margin: auto;}
.lg-size{width: 1080px; max-width: 100%;}
.md-size{width: 756px; max-width: 100%;}

.default-box{margin: 0 auto; color: #fff;}

#front-page-introduction{padding: -50px 0 0 5%; margin-left: 5%; max-width: 800px; opacity: 0; color: #fff; transition: padding-top 1s ease-out, opacity 1s ease-out;}
body.loaded #front-page-introduction{padding-top: 25px; opacity: 1;}

#front-page-loading-bar{width: 90%; max-width: 10px; height: 10px; margin: 25px auto; background-color: #fff; transition: max-width .5s ease-out 1s;}
body.loaded #front-page-loading-bar{max-width: 800px;}

#front-page-option-container{height: 100px; width: 90%; max-width: 800px; position: relative;}

.front-page-option-box-container{display: inline-block; vertical-align: top;}
.front-page-option-box{width: 100px; height: 100px; display: inline-block; margin: 0 5px; opacity: 0; background: #f00;}
.front-page-option-box.box1{transition: opacity .5s linear 1.50s;}
.front-page-option-box.box2{transition: opacity .5s linear 2.00s;}
.front-page-option-box.box3{transition: opacity .5s linear 2.50s;}
.front-page-option-box.box4{transition: opacity .5s linear 3.00s;}
.front-page-option-box.box5{width: 58px; height: 58px; transition: opacity .5s linear 3.50s; margin: 20px 5px 0 5px; padding: 10px; text-align: center; vertical-align: middle; color: #fff; border: 3px solid #fff; border-radius: 50%; background: none;}
body.loaded .front-page-option-box{opacity: 1;}

#blog-page article{width: 512px; max-width: 100%; display: inline-block;}
#blog-page figure{width: 100%;}
#blog-page figure img{width: 100%;}
#blog-page figure figcaption{padding: 10px; color: #000;}

#blog-post > img{width: 100%;}
#blog-post #content-container{ min-width: 300px; font-size: 1.1rem; font-family: Open Sans, Arial}
#blog-post #content-container p{padding: 2.5% 5%; margin: 0;}
#blog-post #content-container hr{width: 75%; margin: 0 auto;}
#blog-post address{text-align: center; padding: 2.5% 0;}
#post-tags a{margin: 0 2px;}

footer p{margin: 5px 0;}

@media (max-width: 768px){
  #front-page-option-container{text-align: center}
}